.product-options {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.product-options__group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.product-options__label {
  font-size: 15px;
  line-height: var(--space-8);
}

.product-options__swatches {
  gap: var(--space-2);
  align-items: center;
}

.product-options__swatch {
  border-radius: var(--radius-md);
  border: 2px solid transparent;
  overflow: hidden;
  padding: 2px;
  transition: border-color var(--transition);
}
.product-options__swatch:hover {
  border-color: var(--color-border);
}
.product-options__swatch--active,
.product-options__swatch[aria-checked="true"] {
  border-color: var(--color-blue-4);
}

.product-options__swatch img {
  width: 44px;
  height: 48px;
  object-fit: cover;
  border-radius: calc(var(--radius-md) - 2px);
  display: block;
}

.product-options__sizes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  align-items: center;
}

.product-options__size {
  font-size: var(--text-2xs);
  line-height: 14px;
  padding: 0.9375rem;
  border-radius: var(--radius-xs);
}
.product-options__size:hover,
.product-options__size--selected,
.product-options__size[aria-checked="true"] {
  background-color: var(--color-black-primary);
  color: var(--color-white);
}

.product-options__expand {
  font-size: var(--text-xs);
  line-height: 14px;
  outline: 1px solid var(--color-border);
  border-radius: var(--radius-xs);
  padding: 0.9375rem var(--space-3);
}
.product-options__expand:hover {
  outline-width: 2px;
}

.product-options__size-guide {
  font-size: var(--text-sm);
  line-height: var(--space-5);
  text-decoration: underline;
  margin-top: var(--space-6);
}
.product-options__size-guide:hover {
  color: var(--color-primary-400);
}
@media (max-width: 768px) {
  .product-options__size-guide {
    margin-top: var(--space-3);
    margin-bottom: var(--space-6);
  }
}

/* mobile product selectors */
.product-options-mobile {
  display: none;
  margin-block: var(--space-3);
}
.product-options-mobile__size-selector {
  border: 1px solid var(--color-border);
  border-radius: var(--space-2);
  box-shadow: inset 0px 4px 4px 0px #bde4ff14;
  padding: 15px;
  font-size: var(--text-sm);
  line-height: 16px;
}

@media (max-width: 768px) {
  .product-options-desktop .product-options__group.selector-size,
  .product-options-desktop .product-options__group.selector-waist {
    display: none;
  }

  .product-options__group {
    padding-block: 10px;
    padding-inline: var(--space-4);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  .product-options-mobile {
    display: initial;
  }

  .product-options-desktop
    .product-options__swatches
    .product-options__swatch:nth-child(n + 6) {
    display: none;
  }
  .product-options__expand {
    display: none;
  }

  .drawer-content .product-options__group {
    border: unset;
  }
}
